@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-josefin font-normal text-[12px] tracking-[-0.01em] leading-none text-neutral-light-verydarkgrayishblue1
            sm:text-[18px];
  }

  main {
    @apply min-h-screen flex flex-col items-center px-6 py-12 bg-neutral-light-verylightgray
            sm:py-0 sm:pt-[78px] sm:pb-12;
  }

  picture {
    @apply absolute top-0 left-0 z-0;
  }

  h1 {
    @apply text-neutral-light-verylightgray uppercase text-[26px] font-bold tracking-[0.4em]
              sm:text-[40px];
  }
}

@layer components {
  .todo_input {
    @apply w-full bg-white outline-none px-5 py-4 rounded-md text-neutral-light-verydarkgrayishblue1
            sm:px-6 sm:py-5;
  }

  .border_bottom {
    border-bottom: 1px;
    @apply border-solid border-neutral-light-verylightgrayishblue;
  }

  .delete_todo {
    @apply opacity-0 transition-opacity duration-300;
  }

  li:hover .delete_todo {
    @apply opacity-100;
  }

  .completed {
    @apply line-through text-neutral-light-lightgrayishblue;
  }

  .btn {
    @apply hover:text-neutral-light-verydarkgrayishblue1 transition-all;
  }

  .todo_filter_container {
    @apply w-full flex gap-[18px] justify-center items-center py-4 bg-white box_shadow rounded-md text-[14px] font-bold mb-11
            sm:py-0 sm:mb-0 sm:w-max;
  }
}

@layer utilities {
  .box_shadow {
    box-shadow: 0px 5px 34px -5px rgba(0, 0, 0, 0.25);
  }
}

input[type="checkbox"] {
  @apply invisible absolute inset-0 m-0 z-10;
}

.checkbox_custom {
  @apply relative cursor-pointer h-5 w-5 grid place-content-center
          sm:h-6 sm:w-6
          before:absolute before:inset-0 before:w-5 before:h-5 before:rounded-full before:border before:border-solid before:border-neutral-light-verylightgrayishblue before:bg-white before:transition-colors before:duration-300
          sm:before:h-6 sm:before:w-6;
}

input[type="checkbox"]:checked + label.checkbox_custom::before {
  background: linear-gradient(
    180deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );
  border-color: transparent;
}
